version: "3.7"
services:
  ${SERVICE}:
    build: 
      context: ./
      dockerfile: Dockerfile 
    image: php:8.4-apache #php:8.1-apache
    volumes:
      - ${NOME}_data:/var/www/html
      - ${NOME}_apache2:/etc/apache2
      - ${NOME}_lib:/usr/local/lib/
      - ${NOME}_include:/usr/local/include
      - ${NOME}_php:/usr/local/etc/php
      - ${NOME}_log:/var/log/apache2
    networks:
      - network_public
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.${NOME}.rule=Host(`${URL}`)
        - traefik.http.routers.${NOME}.entrypoints=websecure
        - traefik.http.routers.${NOME}.tls.certresolver=letsencryptresolver
        - traefik.http.routers.${NOME}.service=${NOME}
        - traefik.http.services.${NOME}.loadbalancer.server.port=80
        - traefik.http.services.${NOME}.loadbalancer.passHostHeader=true
volumes:
  ${NOME}_data:
    external: true
    name: ${NOME}_data
  
  ${NOME}_php:
    external: true
    name: ${NOME}_php    
    
  ${NOME}_apache2:
    external: true
    name: ${NOME}_apache2
    
  ${NOME}_lib:
    external: true
    name: ${NOME}_lib      
  
  ${NOME}_include:
    external: true
    name: ${NOME}_include
  
  ${NOME}_log:
    external: true
    name: ${NOME}_include    
    
networks:
  network_public:
    name: network_public
    external: true
