version: "3.7"
services:
  sistema:
    build: 
      context: ./
      dockerfile: Dockerfile 
    image: php:8.4-apache #php:8.1-apache
    volumes:
      - sistema_data:/var/www/html
      - sistema_apache2:/etc/apache2
      - sistema_lib:/usr/local/lib/
      - sistema_include:/usr/local/include
      - sistema_php:/usr/local/etc/php
    networks:
      - network_public
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.sistema.rule=Host(`portal.bjsoft.com.br`)
        - traefik.http.routers.sistema.entrypoints=websecure
        - traefik.http.routers.sistema.tls.certresolver=letsencryptresolver
        - traefik.http.routers.sistema.service=sistema
        - traefik.http.services.sistema.loadbalancer.server.port=80
        - traefik.http.services.sistema.loadbalancer.passHostHeader=true
volumes:
  sistema_data:
    external: true
    name: sistema_data
  
  sistema_php:
    external: true
    name: sistema_php    
    
  sistema_apache2:
    external: true
    name: sistema_apache2
    
  sistema_lib:
    external: true
    name: sistema_lib      
  
  sistema_include:
    external: true
    name: sistema_include
    
networks:
  network_public:
    name: network_public
    external: true
