version: "3.7"
services:
  bjsoft:
  container_name: ${SERVICE}
    build: 
      context: ./
      dockerfile: Dockerfile 
    image: php:8.4-apache #php:8.1-apache
    volumes:
      - bjsoft_data:/var/www/html
      - bjsoft_apache2:/etc/apache2
      - bjsoft_lib:/usr/local/lib
      - bjsoft_include:/usr/local/include
      - bjsoft_php:/usr/local/etc/php
      - bjsoft_log:/var/log/apache2
    networks:
      - network_public
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.bjsoft.rule=Host(`${URL}`)
        - traefik.http.routers.bjsoft.entrypoints=websecure
        - traefik.http.routers.bjsoft.tls.certresolver=letsencryptresolver
        - traefik.http.routers.bjsoft.service=bjsoft
        - traefik.http.services.bjsoft.loadbalancer.server.port=80
        - traefik.http.services.bjsoft.loadbalancer.passHostHeader=true
volumes:
  bjsoft_data:
    external: true
    name: ${NOME}_data
  
  bjsoft_php:
    external: true
    name: ${NOME}_php    
    
  bjsoft_apache2:
    external: true
    name: ${NOME}_apache2
    
  bjsoft_lib:
    external: true
    name: ${NOME}_lib      
  
  bjsoft_include:
    external: true
    name: ${NOME}_include
  
  bjsoft_log:
    external: true
    name: ${NOME}_include    
    
networks:
  network_public:
    name: network_public
    external: true
